<!DOCTYPE html>
<!-- saved from url=(0064)http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" slick-uniqueid="3">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    .gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
  </style>
  <style type="text/css">
    .gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
  </style>
  <link type="text/css" rel="stylesheet" href="css(2)">
  <style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
    @media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
  </style>
  <style type="text/css">
    .gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}
  </style>

    <!-- viewport fix for devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- load core head -->
      <!--<base href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/">--><base href=".">
  
  <title>Home</title>
  <link href="saved_resource.html" rel="canonical">

  <link rel="stylesheet" href="/assets/modal(1).css" type="text/css">
  <link rel="stylesheet" href="/assets/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/responsive.css" type="text/css">
  <link rel="stylesheet" href="/assets/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/assets/bootstrap_responsive.css" type="text/css">
  <link rel="stylesheet" href="/assets/template(1).css" type="text/css">
  <link rel="stylesheet" href="/assets/extensions.css" type="text/css">
  <link rel="stylesheet" href="/assets/animated-buttons.css" type="text/css">
  <link rel="stylesheet" href="/assets/style1.css" type="text/css">
  <link rel="stylesheet" href="/assets/template_responsive.css" type="text/css">
  <link rel="stylesheet" href="/assets/custom.css" type="text/css">
  <link rel="stylesheet" href="/assets/css(2)" type="text/css">
  <link rel="stylesheet" href="/assets/css(3)" type="text/css">
  <link rel="stylesheet" href="/assets/custom_css_93450d277a6587a42eb963cd387e8909.css" type="text/css">
  <link rel="stylesheet" href="/assets/slider_e105dbf32097315d1349b4e4751e8149.css" type="text/css">
  <link rel="stylesheet" href="/assets/calendar-jos.css" type="text/css" title="Green" media="all">
  <style type="text/css">
        li.item-484 { display: none !important; }
        li.item-505 { display: none !important; }
        li.item-506 { display: none !important; }
        li.item-584 { display: none !important; }
        li.item-585 { display: none !important; }
        li.item-586 { display: none !important; }
        li.item-587 { display: none !important; }
        li.item-588 { display: none !important; }
        li.item-496 { display: none !important; }
        li.item-488 { display: none !important; }

  </style>
  <script src="/assets/mootools-core(1).js" type="text/javascript"></script>
  <script src="/assets/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/jquery-noconflict.js" type="text/javascript"></script>
  <script src="/assets/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="/assets/core(1).js" type="text/javascript"></script>
  <script src="/assets/mootools-more(1).js" type="text/javascript"></script>
  <script src="assets/modal(2).js" type="text/javascript"></script>
  <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/styleswitcher.js" type="text/javascript"></script>
  <script src="/assets/scripts.js" type="text/javascript"></script>
  <script src="/assets/powertools-1.2.0.js" type="text/javascript"></script>
  <script src="/assets/slider.js" type="text/javascript"></script>
  <script src="/assets/calendar.js" type="text/javascript"></script>
  <script src="/assets/calendar-setup.js" type="text/javascript"></script>
  <script type="text/javascript">

        jQuery(function($) {
            SqueezeBox.initialize({});
            SqueezeBox.assign($('a.modal').get(), {
                parse: 'rel'
            });
        });
jQuery(function($) {
             $('.hasTip').each(function() {
                var title = $(this).attr('title');
                if (title) {
                    var parts = title.split('::', 2);
                    $(this).data('tip:title', parts[0]);
                    $(this).data('tip:text', parts[1]);
                }
            });
            var JTooltips = new Tips($('.hasTip').get(), {"maxTitleChars": 50,"fixed": false});
        });
jQuery(function($) {
             $('.Tips1').each(function() {
                var title = $(this).attr('title');
                if (title) {
                    var parts = title.split('::', 2);
                    $(this).data('tip:title', parts[0]);
                    $(this).data('tip:text', parts[1]);
                }
            });
            var JTooltips = new Tips($('.Tips1').get(), {"maxTitleChars": 50,"className": "djcf","fixed": false});
        });
jQuery(document).ready(function(){
    jQuery('.hasTooltip').tooltip({"html": true,"container": "body"});
});
window.addEvent('domready',function(){ if(!this.DJSlider10m196) this.DJSlider10m196 = new DJImageSlider({id: '10m196', slider_type: 'left', slide_size: 326, visible_slides: 3, show_buttons: 0, show_arrows: 1, show_indicators: 1, preload: 0},{auto: 1, transition: Fx.Transitions.Expo.easeInOut, duration: 1000, delay: 7000}) });
Calendar._DN = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]; Calendar._SDN = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat","Sun"]; Calendar._FD = 0; Calendar._MN = ["January","February","March","April","May","June","July","August","September","October","November","December"]; Calendar._SMN = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]; Calendar._TT = {"INFO":"About the Calendar","ABOUT":"DHTML Date\/Time Selector\n(c) dynarch.com 2002-2005 \/ Author: Mihai Bazon\nFor latest version visit: http:\/\/www.dynarch.com\/projects\/calendar\/\nDistributed under GNU LGPL.  See http:\/\/gnu.org\/licenses\/lgpl.html for details.\n\nDate selection:\n- Use the \u00ab and \u00bb buttons to select year\n- Use the < and > buttons to select month\n- Hold mouse button on any of the above buttons for faster selection.","ABOUT_TIME":"\n\nTime selection:\n- Click on any of the time parts to increase it\n- or Shift-click to decrease it\n- or click and drag for faster selection.","PREV_YEAR":"Click to move to the previous year. Click and hold for a list of years.","PREV_MONTH":"Click to move to the previous month. Click and hold for a list of the months.","GO_TODAY":"Go to today","NEXT_MONTH":"Click to move to the next month. Click and hold for a list of the months.","SEL_DATE":"Select a date.","DRAG_TO_MOVE":"Drag to move","PART_TODAY":" Today ","DAY_FIRST":"Display %s first","WEEKEND":"0,6","CLOSE":"Close","TODAY":"Today","TIME_PART":"(Shift-)Click or Drag to change the value.","DEF_DATE_FORMAT":"%Y-%m-%d","TT_DATE_FORMAT":"%a, %b %e","WK":"wk","TIME":"Time:"};
  </script>

    
       

    
    </head> <body>
        <div id="jm-allpage" class="{% block classjmallpage %}scheme1 nocolumn lcr  topbar{% endblock %}">
            
<section id="jm-top-bar">  
  <div id="jm-top-bar-in" class="container">
    <div id="jm-top-bar-space" class="clearfix">      
      <div id="jm-logo-sitedesc" class="pull-left">
        <h1 id="jm-logo" class="pull-left">
          <a href="{{ path('contrate_frontend_homepage') }}">
           <img src="/assets/contrate-artista-logo.gif" alt="jm-joomclassifieds" border="0">
         </a>
       </h1>
     </div>

     <div id="jm-top-bar-mod" class="pull-right jm-light">
      <div class="jm-module-raw ">
        <ul class="nav menu">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li class="item-527">
                Olá {{ app.user.username|capitalize }}!
              </li>
            
            <li class="item-530">
            <a class="color" href="{{ path('artist_new') }}">Inserir um artista gratis</a></li></ul>
            {% else %}
              <li class="item-527">
            <a href="{{ path('fos_user_security_login') }}">Login</a></li><li class="item-528">
            <a href="{{ path('fos_user_registration_register') }}">Cadastre-se</a></li><li class="item-530">
            <a class="color" href="{{ path('artist_new') }}">Inserir um artista gratis</a></li></ul>
            {% endif %}
              
             </div>

        </div>
      </div>
    </div>
</section>
{% block header %}

 {% endblock %}
            
<section id="jm-main" class="container clearfix">
  <div id="jm-main-space">
  {% block body %}
    
  {% endblock %}
  </div>
</section>    

{% block bottom %} {% endblock %}

              
<div id="jm-footer-mod">
  <div id="jm-footer-mod-in" class="jm-footer container">
    <div id="jm-footer-mod-space">
      <div class="footer-mod count_3"><div class="row"><div class="footer-mod-in span4"><div class="footer-mod-bg">   <div class="jm-module title-small-ms">
        <div class="jm-module-in">
          <h3 class="jm-title ">Contato</h3>
          <div class="jm-module-content clearfix">


            <div class="customtitle-small-ms">
              <p style="margin: 0; line-height: 1.5em;">72 Red Lion Street, <br>London, United Kingdom</p>
              <p style="clear: both;">Mobile Number: 012 345-6789</p>
              <p style="line-height: 1.5em;">Pellentesque aliquam tortor nec mi tempus eget fermentum quam placerat. Fusce vitae tortor.</p></div>

            </div>
          </div>
        </div>
      </div></div><div class="footer-mod-in span4"><div class="footer-mod-bg">    <div class="jm-module  title-small-ms">
        <!--
        <div class="jm-module-in">
                            <h3 class="jm-title ">Offer</h3>
                        <div class="jm-module-content clearfix">
                <ul class="nav menu">
<li class="item-541"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/classifieds">All Classifieds</a></li><li class="item-542"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/google-maps-integration">Google maps integration</a></li><li class="item-543"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/payment-options">Payment options</a></li></ul>
          
            </div>
          </div>-->
        </div>
      </div></div><div class="footer-mod-in span4"><div class="footer-mod-bg">    <div class="jm-module  title-small-ms">
      <div class="jm-module-in">
        <h3 class="jm-title ">Information</h3>
        <div class="jm-module-content clearfix">
          <ul class="nav menu">
            <li class="item-544"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/about-us">Sobre nós</a></li><li class="item-545"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/delivery-information">Como funciona</a></li><li class="item-546"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/privacy-policy">Política de privcidade</a></li></ul>

          </div>
        </div>
      </div>
    </div></div></div></div>        </div>     
  </div>
</div>
            

<p id="jm-back-top" style="display: none;"><a id="backtotop" href="javascript:void(0)"><span>&nbsp;</span></a></p>
</div>

<div id="sbox-overlay" aria-hidden="true" tabindex="-1" style="z-index: 65555; opacity: 0;"></div><div id="sbox-window" role="dialog" aria-hidden="true" class="shadow" style="z-index: 65557;"><div id="sbox-content" style="opacity: 0;"></div><a id="sbox-btn-close" href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/#" role="button" aria-controls="sbox-window"></a>
</div>
</body>
</html>