<!DOCTYPE html>
<!-- saved from url=(0064)http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr" slick-uniqueid="3">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    .gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
  </style>
  <style type="text/css">
    .gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
  </style>

  <style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
    @media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
  </style>
  <style type="text/css">
    .gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}
  </style>

    <!-- viewport fix for devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- load core head -->
      <!--<base href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/">--><base href=".">
  
  <title>Home</title>
  <link href="saved_resource.html" rel="canonical">

  <link rel="stylesheet" href="/assets/modal(1).css" type="text/css">
  <link rel="stylesheet" href="/assets/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/responsive.css" type="text/css">
  <link rel="stylesheet" href="/assets/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/assets/bootstrap_responsive.css" type="text/css">
  <link rel="stylesheet" href="/assets/template(1).css" type="text/css">
  <link rel="stylesheet" href="/assets/extensions.css" type="text/css">
  <link rel="stylesheet" href="/assets/animated-buttons.css" type="text/css">
    
  <link rel="stylesheet" href="/assets/template_responsive.css" type="text/css">
  <link rel="stylesheet" href="/assets/custom.css" type="text/css">


  <link rel="stylesheet" href="/assets/custom_css_93450d277a6587a42eb963cd387e8909.css" type="text/css">
  <link rel="stylesheet" href="/assets/slider_e105dbf32097315d1349b4e4751e8149.css" type="text/css">
  <link rel="stylesheet" href="/assets/calendar-jos.css" type="text/css" title="Green" media="all">
  <style type="text/css">
        li.item-484 { display: none !important; }
        li.item-505 { display: none !important; }
        li.item-506 { display: none !important; }
        li.item-584 { display: none !important; }
        li.item-585 { display: none !important; }
        li.item-586 { display: none !important; }
        li.item-587 { display: none !important; }
        li.item-588 { display: none !important; }
        li.item-496 { display: none !important; }
        li.item-488 { display: none !important; }

  </style>
  <script src="/assets/mootools-core(1).js" type="text/javascript"></script>
  <script src="/assets/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/jquery-noconflict.js" type="text/javascript"></script>
  <script src="/assets/jquery-migrate.min.js" type="text/javascript"></script>
  <script src="/assets/core(1).js" type="text/javascript"></script>
  <script src="/assets/mootools-more(1).js" type="text/javascript"></script>
  <script src="/assets/modal(2).js" type="text/javascript"></script>
  <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/styleswitcher.js" type="text/javascript"></script>
  <script src="/assets/scripts.js" type="text/javascript"></script>
  <script src="/assets/powertools-1.2.0.js" type="text/javascript"></script>
  <script src="/assets/slider.js" type="text/javascript"></script>
  <script src="/assets/calendar.js" type="text/javascript"></script>
  <script src="/assets/calendar-setup.js" type="text/javascript"></script>
  <script src="/assets/jquery.maskedinput-1.3.min" type="text/javascript"></script>

    
       

    
    </head> <body>
        <div id="jm-allpage" class="{% block classjmallpage %}scheme1 nocolumn lcr  topbar{% endblock %}">
            
<section id="jm-top-bar">  
  <div id="jm-top-bar-in" class="container">
    <div id="jm-top-bar-space" class="clearfix">      
      <div id="jm-logo-sitedesc" class="pull-left">
        <h1 id="jm-logo" class="pull-left">
          <a href="{{ path('contrate_frontend_homepage') }}">
           <img src="/assets/contrate-artista-logo.gif" alt="jm-joomclassifieds" border="0">
         </a>
       </h1>
     </div>

     <div id="jm-top-bar-mod" class="pull-right jm-light">
      <div class="jm-module-raw ">
        <ul class="nav menu">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li class="item-527">
                Olá {{ app.user.username|capitalize }}!
              </li>
               | <a href="{{ path('fos_user_security_logout') }}" style="text-decoration: none;">Sair</a>
            
            <li class="item-530">
            <a class="color" href="{{ path('artist_new') }}">Inserir um artista gratis</a></li></ul>
            {% else %}
              <li class="item-527">
            <a href="{{ path('fos_user_security_login') }}">Login</a></li><li class="item-528">
            <a href="{{ path('fos_user_registration_register') }}">Cadastre-se</a></li><li class="item-530">
            <a class="color" href="{{ path('artist_new') }}">Inserir um artista gratis</a></li></ul>
            {% endif %}
              
             </div>

        </div>
      </div>
    </div>
</section>
{% block header %}

 {% endblock %}
            
<section id="jm-main" class="container clearfix">
  <div id="jm-main-space">
  {% block body %}
    
  {% endblock %}
  </div>
</section>    

{% block bottom %} {% endblock %}

<div id="jm-footer-mod">
  <div id="jm-footer-mod-in" class="jm-footer container">
    <div id="jm-footer-mod-space">
      <div class="footer-mod count_3"><div class="row"><div class="footer-mod-in span4"><div class="footer-mod-bg">   <div class="jm-module title-small-ms">
        <div class="jm-module-in">
          <h3 class="jm-title ">Contato</h3>
          <div class="jm-module-content clearfix">


            <div class="customtitle-small-ms">
              <p style="clear: both;">(21) 3185-8766</p>
              <p style="line-height: 1.5em;">comercial@contrateartistas.com</p>
              <a onclick="" href="#">
        <img src="/assets/mnk.jpg" alt="Agência MNK" style="height: 93px;width: 213px;">
        </a>
              </div>

            </div>
          </div>
        </div>
      </div></div><div class="footer-mod-in span4"><div class="footer-mod-bg">    <div class="jm-module  title-small-ms">
        
        </div>
      </div></div><div class="footer-mod-in span4">
      <div class="footer-mod-bg">    <div class="jm-module  title-small-ms">
      <div class="jm-module-in">
        <h3 class="jm-title ">Mais informações</h3>
        <div class="jm-module-content clearfix">
          <ul class="nav menu">
            <li class="item-544"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/about-us">Quem somos</a></li><li class="item-545"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/delivery-information">FAQ</a></li><li class="item-546"><a href="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/privacy-policy">Política de privcidade</a></li></ul>

          </div>
        </div>
      </div>
    </div></div></div></div>        </div>     
  </div>
</div>

            


</div>

</body>
</html>