{% extends '::base.html.twig' %}
{% block title %}{{ artist.name }}{% endblock %}
{% block body -%}
<script src="/assets/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/assets/jquery.cycle.all.js" type="text/javascript"></script>

<script src="/assets/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">


  <script>
  $(function() {
    $( "#contrate_backendbundle_contact_eventAt" ).datepicker();
    $( "#contrate_backendbundle_contact_eventAt" ).datepicker( "option", "dateFormat", "dd/mm/yy");

  });
  </script>

<script type="text/javascript">

jQuery.fn.brTelMask = function() {
 
    return this.each(function(){
        var el = this;
        $(el).focus(function(){
            $(el).mask("(99) 9999-9999?9");
        });
 
        $(el).focusout(function(){
           var phone, element;
           element = $(el);
           element.unmask();
           phone = element.val().replace(/\D/g, '');
           if(phone.length > 10){
               element.mask("(99) 9999-999?99");
           }else{
               element.mask("(99) 9999-9999?9");
           }
        });
    });
}
 
$(document).ready(function() {
    $("#contrate_backendbundle_contact_phone").brTelMask();
});

    jQuery(function($){
               //$("#contrate_backendbundle_contact_phone").mask("(99) 9999-9999");
               //$("#campoTelefone").mask("(999) 999-9999");
        });



</script>


<script language="javascript">
$(document).ready(function(){

    $('#slider1').cycle({
        fx: 'scrollHorz', 
        speed:  'slow', 
        timeout: 0,
        next:   '#next', 
        prev:   '#prev',
        pager:  '#thumb',
         
        pagerAnchorBuilder: function(idx, slide) { 
            return '<li><a href="#"><img src="' + slide.src + '" style="width: 60px; height: 60px;" /></a></li>'; 
        }  



    });

    $("#reply").validate({
            //errorElement: "div",

        });



}); 
</script>


<section id="jm-main" class="container clearfix">
  <div id="jm-main-space">

    
        <div id="jm-breadcrumbs" class="clearfix">
      <div id="jm-breadcrumbs-in">
        {{ wo_render_breadcrumbs() }}
      </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="custom" style="margin-bottom: 20px;">
            <p class="alerta" style="text-align: center;">{{ flashMessage }}</p>
        </div>  

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %} 

        <div class="custom" style="margin-bottom: 20px;">
            <p class="alerta-sucess" style="text-align: center;"><img src="/assets/check-sucesso.png" width="28" height="25">{{ flashMessage }}</p><br/>
        </div>

    {% endfor %}

 <div id="jm-content-wrapper">
    <div id="jm-content-wrapper-in" style="margin-left:0;padding:0;">
        <div id="jm-content-wrapper-bg" class="clearfix ">
            <div id="jm-middle-page">
                <div id="jm-content">
                    <div id="jm-maincontent">
                        <div id="system-message-container"></div>

                        <div id="dj-classifieds" class="clearfix">
                            <div class="djcf-ad-top clearfix"></div>          
                            <div class="dj-item">
                                <div class="title_top info">
                                    <h2>{{ artist.name }}</h2>
                                </div>        
                                <div class="dj-item-in">
                                    <div class="djcf_images_generaldet_box">  
                                      
                                        {% if count_initial < 2 and total_imgs > 0 %}
                                        <div class="images_wrap" style="width:500px"><div class="images">
                                            <div class="djc_images">
                                                <div class="djc_mainimage">
                                                    {% if (artist.defaultImg == "images/star.jpg") %}
                                                        <img src="{{ asset('images/star.jpg') }}" width="625" height="345" />
                                                    {% else %}
                                                        {% if total_imgs > 0 %}
                                                        <div class="slider">
                                                            <div id="slider1" style="margin-left: auto; margin-right: auto;">
                                                        {% for img in artist.artistImages %}
                                                            {% if (img.pic != "initial" and img.pic != artist.defaultImg) %}
                                                                <img width="" id="djc_mainimage" src="{{ asset(img.pic|imagine_filter('widen')) }}">
                                                            {% endif %}
                                                        {% endfor %}
                                                            </div>
                                                        </div>
                                                        <ul id="thumb" style="margin-top: 25px;"></ul>
                                             
                                                    {% else %}

                                                        <img width="" id="djc_mainimage" src="{{ asset('images/artista/2670/54c2db3a_5ea7_40f7_bb83_a4fb76f27444.jpg'|imagine_filter('widen')) }}">
                                                        
                                                        {% endif %}
                                                    {% endif %}
                                                
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    
                                    

                                    <div class="general_det no_images" style="width:400px;float:left;">
                                        <div class="row_gd">

                                        </div>
                                        <div class="row_gd djcf_contact">
                                            <div class="contact_mainrow">
                                                <span class="description contato"><h2>Contato</h2></span>
                                                <div class="thumb_artist">
                                                {% if artist.defaultImg %}
                                                    <img src="{{ asset(artist.defaultImg) }}" style="width:95px;float:left;margin:0 15px 0 0;border-radius:3px;border:1px solid #ccc;padding:4px">
                                                {% else %}
                                                    <img src="{{ asset('images/artista/2670/54c2db3a_5ea7_40f7_bb83_a4fb76f27444.jpg'|imagine_filter('widen')) }}" style="width:95px;float:left;margin:0 15px 0 0;border-radius:3px;border:1px solid #ccc;padding:4px">
                                                {% endif %}
                                                
                                                </div>

                                                <span class="row_value"><strong>Categoria:</strong> {{ artist.category.name }} <br></span>
                                                <span class="row_value"><strong>Agência:</strong> {{ artist.user.name }}<br></span>
                                                <span class="row_value"><b>Site:</b> <a class="bt_link_adview" target="_blank" rel="nofollow" href="http://{{ artist.user.site }}">{{ artist.user.site }}</a><br></span>
                                                <span class="row_value"><b>Telefone:</b> {{ artist.user.phone }}<br></span>
                                            </div>


                                        </div>
                                        <div class="row_gd added">
                                            <span class="description descricao"><h2>Descrição</h2></span>
                                            <span class="row_value">{{ artist.description|raw }}</span>
                                        </div>

                                    </div>
                                    <!--começa o form-->

                                    <div style="clear:both"></div>              
                                    <div class="ask_form_abuse_outer">


                                        <div style="clear:both"></div>

                                        <div id="abuse_form" style="display:none;overflow:hidden;">
                                            <form action="http://templates.joomla-monster.com/joomla30/jm-joomclassifieds/index.php/classifieds/furniture/ad/index.php" method="post" name="djabuseForm" id="djabuseForm" class="form-validate">
                                               <label for="abuse_message" id="abuse_message-lbl">Message</label><br>
                                               <textarea id="abuse_message" name="abuse_message" rows="5" cols="55" class="inputbox required" aria-required="true" required="required"></textarea><br>
                                               <button class="button" type="submit" id="submit_b">Send</button>
                                               <input type="hidden" name="abuse_status" id="abuse_status" value="0">
                                               <input type="hidden" name="item_id" id="item_id" value="37">
                                               <input type="hidden" name="cid" id="cid" value="18">
                                               <input type="hidden" name="option" value="com_djclassifieds">
                                               <input type="hidden" name="view" value="item">
                                               <input type="hidden" name="task" value="abuse">
                                           </form>      
                                       </div>
                                   </div>
                                   <div style="clear:both"></div>          

                               </div>
                               <div class="description">
                                    <h2 class="orcamento"><img src="/assets/calendar.png"> Solicite seu orçamento:</h2>
                                    <div class="desc_content">
                                        <div class="artista-orcamento">
                                            {% include 'ContrateBackendBundle:Contact:new.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                        <div style="clear:both"></div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>          
</div>           
</div>    
</div>
<aside id="jm-left" class="span3"></aside>
</div>
</section>     


{% endblock %}
