{% if wo_breadcrumbs()|length %}
  {% spaceless %}
    <ul id="{{ listId }}" class="breadcrumb">
      <li class="active">Você está em: &nbsp;</li>
      {% for b in breadcrumbs %}

      <li>
        <a href="{{ b.url }}" class="pathway">
          {{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</a>{% if separator is not null and not loop.last %}<span class="divider"><img src="/assets/arrow.png" alt="">{% endif %}</span></li>
        


        {#<li{% if itemClass is defined and itemClass|length %} class="{{ itemClass }}"{% endif %}{% if not(loop.first) %} itemprop="child"{% endif %}>
          {% if b.url and not loop.last %}<a href="{{ b.url }}" itemprop="url"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>{% endif %}
          <span itemprop="title">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</span>
          {% if b.url and not loop.last %}</a>{% endif %}

          {% if separator is not null and not loop.last %}
            <span class='{{ separatorClass }}'>{{ separator }}</span>
        {% endif %}
        </li>
          #}
      
      {% endfor %}
    </ul>
  {% endspaceless %}
{% endif %}

