{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">
    <ul>
    {% if first is defined and current != first %}
        <li class="pagination-end">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="hasTooltip pagenav" data-original-title="End">Início</a>
        </li>
    {% else %}
        <li class="pagination-start"><span class="pagenav">Início</span></li>
    {% endif %}

    {% if previous is defined %}
        
        <li class="pagination-end">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="hasTooltip pagenav" data-original-title="End"><<</a>
        </li>
    {% else %}
        <li class="pagination-prev"><span class="pagenav"><<</span></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="pagenav">{{ page }}</a>
            </li>
            
        {% else %}
            <li>
                <span class="pagenav">{{ page }}</span>
            </li>
            
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="pagination-next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="hasTooltip pagenav" data-original-title="Next">&gt;&gt;</a>
        </li>
    {% else %}
        <li class="pagination-start"><span class="pagenav">&gt;&gt;</span></li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="pagination-end">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="hasTooltip pagenav" data-original-title="End">Final</a>
        </li>
    {% else %}
        <li class="pagination-start"><span class="pagenav">Final</span></li>
    {% endif %}
    </ul>
</div>
{% endif %}
